<a href="https://colab.research.google.com/github/Disha2704/Disha2704/blob/main/25_feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
course_name = ["Data Science", "Machine Learning","Big Data","Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration": duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [ ]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is label-based, which means that you can select rows and columns from a dataframe by using their row and column labels. The syntax for using loc is df.loc[row_label, column_label]. The row label and column label can be single values, lists, or slices of labels. For example, df.loc[1, 'A'] would select the value in the first row and 'A' column.

iloc is integer-based, which means that you can select rows and columns from a dataframe by using their integer positions. The syntax for using iloc is df.iloc[row_pos, column_pos]. The row position and column position can be single integers, lists, or slices of integer positions. For example, df.iloc[1, 0] would select the value in the second row and first column.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [ ]:
new_df=df.reindex([3,0,2,1])

In [ ]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
2          Big Data         6
1  Machine Learning         3

In [ ]:
print(new_df.loc[2]) 
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Big Data
duration              6
Name: 2, dtype: object

Did you observe any difference in both the outputs? If so then explain it.

no

In [ ]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.randint(low=0,high=10,size=(6,6)), columns = columns, index = indices)

In [ ]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1         5         0         0         3         9         0
2         0         5         7         9         1         6
3         0         4         3         2         1         2
4         9         9         8         5         5         1
5         3         1         6         5         1         9
6         6         0         2         7         5         7

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [ ]:
for column in df1.columns:
  print("mean of {} : {}".format(column,df1[column].mean()))

mean of column_1 : 3.8333333333333335
mean of column_2 : 3.1666666666666665
mean of column_3 : 4.333333333333333
mean of column_4 : 5.166666666666667
mean of column_5 : 3.6666666666666665
mean of column_6 : 4.166666666666667

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [ ]:
df1.loc[2,"column_2"]="string"

In [ ]:
df1["column_2"].mean()

TypeError: ignored

this is he error because we cant perform mean operation on string data

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In Pandas, a window function is a function that performs a calculation across a sliding window of data. The window can be of fixed size or it can be a variable size. The window function is applied to each window in the data, producing a new output value for each window.

Window functions are useful for time series data or other data that has a natural order, such as stock prices or sensor data. They can be used to calculate rolling averages, moving medians, cumulative sums, and more.

Pandas provides several built-in window functions that can be used with the rolling() method. These include:

mean(): computes the rolling mean of a window.

sum(): computes the rolling sum of a window.

std(): computes the rolling standard deviation of a window.

var(): computes the rolling variance of a window.

min(): computes the rolling minimum of a window.

max(): computes the rolling maximum of a window.

median(): computes the rolling median of a window.

corr(): computes the rolling correlation between two time series.

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
import pandas as pd
from dateutil.relativedelta import relativedelta

date1_str = input("Enter date 1 in the format YYYY-MM-DD: ")
date2_str = input("Enter date 2 in the format YYYY-MM-DD: ")

date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

delta = date2 - date1

years = relativedelta(date2, date1).years
months = relativedelta(date2, date1).months
days=relativedelta(date2, date1).days

print(f"The difference between the two dates is {years} years, {months} months,{days} days")

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# prompt user for file path, column name, and category order
file_path = input("Enter the file path: ")
column_name = input("Enter the column name to convert: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

# read the CSV file
data = pd.read_csv(file_path)

# convert specified column to categorical data type
data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)

# sort the data by the specified column
sorted_data = data.sort_values(by=column_name)

# display the sorted data
print(sorted_data)

KeyboardInterrupt: ignored





Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:

from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the file path for the sales data CSV file: ")


df = pd.read_csv(file_path)

df['Date'] = pd.to_datetime(df['Date'])


df.set_index('Date', inplace=True)

df_monthly = df.resample('M').sum()

ax = df_monthly.plot(kind='bar', stacked=True, figsize=(5,5))

ax.set_title('Monthly Sales by Product Category')
ax.set_xlabel('Month')
ax.set_ylabel('Sales')

# Show the chart
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. 

Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

The program should do the following

I Prompt the user to enter the file path of the CSV file containing the student data

I Read the CSV file into a Pandas DataFrame

I Calculate the mean, median, and mode of the test scores using Pandas tools

I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns

I Student ID: The ID of the student

I Test Score: The score of the student's test.

Example usage of the program:

Enter the file path of the CSV file containing the student data: 
student_data.csv

+-----------+--------+

| Statistic | Value |

+-----------+--------+

| Mean | 79.6 |

| Median | 82 |

| Mode | 85, 90 |

+-----------+--------+

Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85

The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd

file_path = input("Enter the file path of the CSV file containing the student data: ")

df = pd.read_csv(file_path)


mean = df["Test Score"].mean()
median = df["Test Score"].median()
mode = df["Test Score"].mode()

# Display results in a table
results = pd.DataFrame({"Statistic": ["Mean", "Median", "Mode"], "Value": [mean, median, mode]})
print(results.to_string(index=False))
# print(results)